<script type="importmap">
{
  "imports": {
    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
  }
}
</script>

<hr><!--#############################-->

<h3><code>createApp(</code>App<code>)</code>.<code>mount(</code>#app<code>)</code></h3>

<div id="counter">
  Counter: <button @click="increase">{{counter}}</button>
</div>

<script type="module">
import { createApp, onMounted, ref } from 'vue'

const Counter = {
  setup() {
    const counter = ref(0)
    function increase() {
      counter.value++
    }
    onMounted(() => {
      setInterval(() => {
        increase()
      }, 1000)
    })
    return {
      counter,
      increase,
    }
  }
}

const vm1 = createApp(Counter).mount('#counter')
</script>

<hr><!--#############################-->

<h3>bind attribute</h3>

<div id="bind-attribute">
  <span v-bind:title="message">
    여기에 마우스를 올려두고 잠시 기다리면 동적으로 바인딩된 title 속성을 볼 수 있습니다!
  </span>
</div>

<script type="module">
import { createApp, ref } from 'vue'

const AttributeBinding = {
  setup() {
    const message = ref('이 페이지를 다음 시간에 열었습니다. ' + new Date().toLocaleString())
    return {
      message
    }
  }
}

const vm2 = createApp(AttributeBinding).mount('#bind-attribute')
</script>

<hr><!--#############################-->

<h3>event handling</h3>

<div id="event-handling">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
  <button @click="reverseMessage($event)">foo</button>
  <button @click="(event)=>reverseMessage(event)">bar</button>
</div>

<script type="module">
import { createApp, ref } from 'vue'

const EventHandling = {
  setup() {
    const message = ref('Hello Vue.js!')
    function reverseMessage(event) {
      console.log(event.target.tagName);
      message.value = message.value
        .split('')
        .reverse()
        .join('')
    }
    return {
      message,
      reverseMessage,
    }
  }
}

const vm3 = createApp(EventHandling).mount('#event-handling')
</script>

<hr><!--#############################-->

<h3>two-way binding</h3>

<div id="two-way-binding">
  <p>{{ message }}</p>
  <input v-model="message" />
</div>

<script type="module">
import { createApp, ref } from 'vue'

const TwoWayBinding = {
  setup() {
    const message = ref('Hello Vue!')
    return {
      message
    }
  }
}

const vm4 = createApp(TwoWayBinding).mount('#two-way-binding')
</script>

<hr><!--#############################-->

<h3>conditional rendering</h3>

<div id="conditional-rendering">
  <span v-if="seen">이제 나를 볼수 있어요</span>
  <button v-on:click="toggle">Toggle Message</button>
</div>

<script type="module">
import { createApp, ref } from 'vue'

const ConditionalRendering = {
  setup() {
    const seen = ref(true)
    function toggle() {
      seen.value = ! seen.value
    }
    return {
      seen,
      toggle,
    }
  }
}

let vm5 = createApp(ConditionalRendering).mount('#conditional-rendering')
</script>

<hr><!--#############################-->

<h3>list rendering</h3>

<div id="list-rendering">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script type="module">
import { createApp, ref } from 'vue'

const ListRendering = {
  setup() {
    const todos = ref([
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' }
    ])
    return {
      todos
    }
  }
}

const vm6 = createApp(ListRendering).mount('#list-rendering')
</script>

<hr><!--#############################-->

<h3>components</h3>

<div id="components-app">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

<script type="module">
import { createApp, ref } from 'vue'

const ComponentsApp = {
  setup() {
    const groceryList = ref([
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ])
    return {
      groceryList
    }
  }
}

const app = createApp(ComponentsApp);

app.component('todo-item', {
  props: ['todo'],
  template: `<li>{{ todo.text }}</li>`
});

const vm7 = app.mount('#components-app');
</script>

<hr><!--#############################-->

:wq